@charset "UTF-8";
/* Add your custom CSS declarations below  */
@charset "UTF-8";
/* Add your custom CSS declarations below  */



body { background-color: #ffffff; }

a, a:hover { color: rgb(126, 152, 121); }



.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    background-color: rgb(126, 152, 121);
	
}

.nav-item:hover {
	background-color: #e2e2e2;
}

.gray {
	background-color: rgba(126, 152, 121, 0.747);
}

.h2{
	color: rgb(126, 152, 121);
}

.btn-primary {
	background-color: rgb(126, 152, 121);
	border-color: rgb(126, 152, 121);
}


